{
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest": true,
    "mocha": true,
    "truffle/globals": true
  },
  "extends": ["eslint:recommended", "plugin:prettier/recommended", "prettier"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "requireConfigFile" : false
  },
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "object-curly-spacing": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"],
    "require-await": "error",
    "prettier/prettier": ["error", { "printWidth": 110 }]
  },
  "plugins": [
    "truffle"
  ]
}